Repository Robbert/website-onderzoek-en-statistiek: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server, build cms acc, build website acc, build cms prod, build website prod

build server:
  stage: build
  script:
  - docker build -t $TAG_SERVER_LATEST ./server
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_SERVER_LATEST

build cms acc:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_ACC --build-arg NODE_ENV=development ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_ACC

build website acc:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_ACC --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://acc.cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=development ./website
  ...

build cms prod:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_PROD --build-arg NODE_ENV=production ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_PROD

build website prod:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_PROD --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=production ./website
  ...

Show card image in older browsers
  website/components/Card/Card.style.js
Due: build website acc, build website prod

Update next to version 12.1.0
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix search bar bug
  website/components/SearchBar/SearchBar.style.js
Due: build website acc, build website prod

Add pagination on search page to url params
  website/components/SearchFilterSection/SearchFilterSection.jsx
  website/next.config.js
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Add tables to markdown renderer
  website/components/MarkdownToHtml/MarkdownToHtml.jsx
  website/components/Table/Table.jsx
  website/components/Table/Table.style.js
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Write tests for SearchBar.jsx
  website/components/ContentFooter/ContentFooter.style.js
  website/components/SearchBar/SearchBar.jsx
  website/components/SearchBar/SearchBar.test.jsx
  website/package.json
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Update all Yarn dependencies (2022-02-28)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update all Yarn dependencies (2022-03-07)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update all Yarn dependencies (2022-03-14)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix download visualisation
  website/components/Visualisation/Visualisation.jsx
Due: build website acc, build website prod

Fix cut off descenders issue
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
Due: build website acc, build website prod

Add SiteImprove tracking code
  website/components/Seo/Seo.jsx
  website/pages/_app.page.jsx
Due: build website acc, build website prod

Change unordered list bullets, fix Firefox issue
  website/components/List/List.jsx
  website/components/List/List.style.js
  website/components/ListItem/ListItem.jsx
  website/components/ListItem/ListItem.style.js
  website/components/MarkdownToHtml/MarkdownToHtml.jsx
  website/pages/404.page.jsx
Due: build website acc, build website prod

Increase GraphQL limit
  cms/config/plugins.js
Due: build cms acc, build cms prod

Add search content api route
  website/pages/api/search-content.api.js
Due: build website acc, build website prod

Remove SiteImprove script
  website/pages/_app.page.jsx
Due: build website acc, build website prod

Update all Yarn dependencies (2022-03-21)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Add gutterBottom to MarkDown table
  website/components/MarkdownToHtml/MarkdownToHtml.jsx
Due: build website acc, build website prod

Update all Yarn dependencies (2022-03-28)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update utilities plugin
  cms/Dockerfile
  cms/plugins/utilities/admin/src/containers/HomePage/index.js
  cms/plugins/utilities/admin/src/utils/api.js
  cms/plugins/utilities/admin/src/utils/upload.js
  cms/plugins/utilities/config/routes.json
  cms/plugins/utilities/controllers/utilities.js
  cms/plugins/utilities/package.json
  cms/plugins/utilities/yarn.lock
Due: build cms acc, build cms prod

Fix postgresql install
  cms/Dockerfile
Due: build cms acc, build cms prod

Add archiver package
  cms/package.json
  cms/yarn.lock
Due: build cms acc, build cms prod

Finetune utilities plugin
  cms/plugins/utilities/controllers/utilities.js
  server/config/2-cms.conf
Due: build server, build cms acc, build cms prod

Refactor archiver
  cms/plugins/utilities/controllers/utilities.js
Due: build cms acc, build cms prod

Default sort search results by relevance
  website/components/ThemeSearch/ThemeSearch.jsx
  website/lib/searchUtils.js
  website/pages/_app.page.jsx
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Update all Yarn dependencies (2022-04-04)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix default open graph image
  website/components/Seo/Seo.jsx
Due: build website acc, build website prod

Make all Vega Visualisations responsive
  website/components/Visualisation/Visualisation.jsx
Due: build website acc, build website prod

Update all Yarn dependencies (2022-04-11)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Refactor search index generation and import
  .gitlab-ci.yml
  server/config/1-website.conf
  website/.gitlab-ci.yml
  website/components/BodyContent/BodyContent.jsx
  website/components/Seo/Seo.jsx
  website/pages/_app.page.jsx
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Update nginx config
  server/config/1-website.conf
Due: build server

Refactor CI pipeline
  .gitlab-ci.yml
  server/.gitlab-ci.yml
  server/config/1-website.conf
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Update all Yarn dependencies (2022-04-18)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Set Cache-Control Header, update CI
  .gitlab-ci.yml
  server/config/1-website.conf
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Downgrade React to temporarily fix issue with search bar
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix search bar bug
  website/package.json
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build website acc, build website prod

Update all Yarn dependencies (2022-04-25)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update all Yarn dependencies (2022-05-02)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update all Yarn dependencies (2022-05-09)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Configure static environment
  docker-compose.server.yml
  server/config/1-website.conf
Due: build server

Path conditions:
  build server: any of: server/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms acc: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website acc: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms prod: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website prod: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
