Repository Robbert/website-onderzoek-en-statistiek: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server, build cms acc, build website acc, build cms prod, build website prod

Path conditions:
  build server: any of: server/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms acc: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website acc: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms prod: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website prod: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml

Rebuild search index on cms change
  cms/api/article/models/article.js
  cms/api/collection/models/collection.js
  cms/api/dataset/models/dataset.js
  cms/api/interactive/models/interactive.js
  cms/api/publication/models/publication.js
  cms/api/video/models/video.js
  cms/lib/utils.js
  docker-compose.acc.yml
  docker-compose.yml
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Add new Link component
  website/components/FlyOutButton/FlyOutButton.style.js
  website/components/Footer/Footer.jsx
  website/components/Footer/Footer.style.js
  website/components/Link/Link.jsx
  website/components/Link/Link.style.js
  website/components/LinkList/LinkList.jsx
  website/components/LinkList/LinkList.style.js
  website/components/MegaMenu/MegaMenu.jsx
  website/components/Navigation/Navigation.jsx
  website/components/Navigation/Navigation.style.js
  website/components/Paragraph/Paragraph.style.js
  website/lib/typographyUtils.js
Due: build website acc, build website prod

Custom Button with Fluid type
  website/components/Button/Button.jsx
  website/components/Button/Button.style.js
  website/components/Heading/Heading.style.js
  website/components/Link/Link.jsx
  website/components/Link/Link.style.js
  website/components/Paragraph/Paragraph.style.js
  website/lib/typographyUtils.js
Due: build website acc, build website prod

Add new card component
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/components/CardList/CardList.jsx
  website/components/CardList/CardList.style.js
  website/components/Grid/Grid.style.js
  website/lib/typographyUtils.js
  website/pages/homepage.query.gql
  website/pages/homepage.style.js
  website/pages/index.page.jsx
Due: build website acc, build website prod

MVP FE dossier
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/components/Disclosure/Disclosure.jsx
  website/components/Disclosure/Disclosure.style.js
  website/components/Grid/Grid.style.js
  website/components/PageSection/PageSection.jsx
  website/components/PageSection/PageSection.style.js
  website/components/Paragraph/Paragraph.style.js
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchCard/SearchCard.style.js
  website/lib/typographyUtils.js
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/dossier.style.js
Due: build website acc, build website prod

Implement feedback on collections
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/dossier.style.js
Due: build website acc, build website prod

MVP styling homepage
  website/components/Button/Button.style.js
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/components/CardList/CardList.jsx
  website/components/Header/Header.jsx
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchCard/SearchCard.style.js
  website/pages/dossier/[slug].page.jsx
  website/pages/homepage.style.js
  website/pages/index.page.jsx
Due: build website acc, build website prod

Update Strapi models and import routines
  cms/api/article/models/article.settings.json
  cms/api/collection/models/collection.settings.json
  cms/api/dataset/models/dataset.settings.json
  cms/api/homepage/models/homepage.settings.json
  cms/api/interactive/models/interactive.settings.json
  cms/api/publication/models/publication.settings.json
  cms/api/theme/models/theme.settings.json
  cms/api/video/models/video.settings.json
  cms/components/sections/hero.json
  cms/components/shared/articles.json
  cms/components/shared/collections.json
  cms/components/shared/datasets.json
  cms/components/shared/external-links.json
  cms/components/shared/interactives.json
  cms/components/shared/link-list.json
  cms/components/shared/links.json
  cms/components/shared/list.json
  cms/components/shared/publications.json
  cms/components/shared/related.json
  cms/components/shared/seo.json
  cms/components/shared/text.json
  cms/components/shared/videos.json
  cms/config/middleware.js
  cms/lib/utils.js
  package.json
  server/user_conf.d/1-website.conf
Due: build server, build cms acc, build cms prod

Add markdown to html map, add Blockquote, List and ListItem components
  website/components/Blockquote/Blockquote.jsx
  website/components/Blockquote/Blockquote.style.js
  website/components/InlineImage/InlineImage.jsx
  website/components/InlineImage/InlineImage.style.js
  website/components/List/List.jsx
  website/components/List/List.style.js
  website/components/ListItem/ListItem.jsx
  website/components/ListItem/ListItem.style.js
  website/components/MarkdownToHtml/MarkdownToHtml.jsx
  website/components/PdfDocument/PdfDocument.jsx
  website/lib/typographyUtils.js
  website/package.json
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.style.js
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.style.js
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.style.js
  website/pages/video/[slug].page.jsx
  website/yarn.lock
Due: build website acc, build website prod

Adapt FE to changed models
  website/.eslintrc.js
  website/components/InlineImage/InlineImage.jsx
  website/lib/utils.js
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
  website/pages/dataset/dataset.query.gql
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collection.query.gql
  website/pages/homepage.query.gql
  website/pages/homepage.style.js
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/interactief/interactive.query.gql
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/thema/theme.style.js
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
Due: build website acc, build website prod

MVP FE Theme page
  website/.eslintrc.js
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/components/SearchBar/SearchBar.jsx
  website/components/SearchBar/SearchBar.style.js
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchCard/SearchCard.style.js
  website/components/SearchResults/SearchResults.jsx
  website/components/ThemeSearch/ThemeSearch.jsx
  website/components/ThemeSearch/ThemeSearch.style.js
  website/lib/typographyUtils.js
  website/lib/utils.js
  website/package.json
  website/pages/_app.page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/thema/theme.style.js
  website/yarn.lock
Due: build website acc, build website prod

Update Strapi models
  cms/api/article/models/article.settings.json
  cms/api/publication/models/publication.settings.json
  cms/api/theme/models/theme.settings.json
  cms/api/video/models/video.settings.json
  cms/components/shared/text-with-links.json
  cms/components/shared/visualisation.json
  cms/lib/utils.js
Due: build cms acc, build cms prod

MVP FE Article page
  website/components/BodyContent/BodyContent.jsx
  website/components/BodyContent/BodyContent.style.js
  website/components/ThemeList/ThemeList.jsx
  website/components/ThemeList/Themelist.style.js
  website/components/Visualisation/Visualisation.jsx
  website/components/Visualisation/Visualisation.style.js
  website/lib/utils.js
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
  website/pages/artikel/article.style.js
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/publicatie/publication.style.js
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
Due: build website acc, build website prod

Use node 16 in build
  website/Dockerfile
Due: build website acc, build website prod

Update Strapi model dataset
  cms/api/dataset/models/dataset.settings.json
  cms/components/shared/visualisation.json
  cms/lib/datacatalog.js
Due: build cms acc, build cms prod

Add cms fields to Video and Datasets
  cms/api/dataset/models/dataset.settings.json
  cms/api/video/models/video.settings.json
Due: build cms acc, build cms prod

MVP FE video page
  website/components/Details/Details.jsx
  website/components/Details/Details.style.js
  website/components/DownloadButton/DownloadButton.jsx
  website/components/DownloadButton/DownloadButton.style.js
  website/lib/typographyUtils.js
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
  website/pages/video/video.style.js
Due: build website acc, build website prod

MVP FE dataset page
  website/components/BodyContent/BodyContent.jsx
  website/lib/searchUtils.js
  website/lib/typographyUtils.js
  website/lib/utils.js
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.query.gql
  website/pages/dataset/dataset.style.js
  website/pages/homepage.query.gql
Due: build website acc, build website prod

Add cache config for production
  server/user_conf.d/1-website.conf
Due: build server

MVP backend
  website/yarn.lock
Due: build website acc, build website prod

Proxy branch to merge develop into main
  website/pages/publicatie/publication.style.js
Due: build website acc, build website prod

Remove or replace packages
  website/components/PdfDocument/PdfDocument.jsx
  website/components/ThemeSearch/ThemeSearch.jsx
  website/package.json
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build website acc, build website prod

Fetch search data from same origin
  cms/config/strapi-config.json
  website/pages/_app.page.jsx
Due: build cms acc, build website acc, build cms prod, build website prod

Fix search content link
  website/pages/_app.page.jsx
Due: build website acc, build website prod

Refactor resource link, collection card
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.style.js
  website/pages/dossier/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
Due: build website acc, build website prod

Add new radio and checkbox components
  website/components/Checkbox/Checkbox.jsx
  website/components/Checkbox/Checkbox.style.js
  website/components/Fieldset/Fieldset.jsx
  website/components/Fieldset/Fieldset.style.js
  website/components/Radio/Radio.jsx
  website/components/Radio/Radio.style.js
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build website acc, build website prod

MVP FE search page
  website/components/Button/Button.style.js
  website/components/Fieldset/Fieldset.jsx
  website/components/Pagination/Pagination.jsx
  website/components/Pagination/Pagination.style.js
  website/components/SearchBar/SearchBar.jsx
  website/components/SearchBar/SearchBar.style.js
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchCard/SearchCard.style.js
  website/components/SearchResults/SearchResults.jsx
  website/components/ThemeSearch/ThemeSearch.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build website acc, build website prod

Small changes after MVP review
  cms/config/strapi-config.json
  website/components/MegaMenu/MegaMenu.jsx
  website/lib/utils.js
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collection.query.gql
  website/pages/index.page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.style.js
  website/pages/thema/[slug].page.jsx
Due: build cms acc, build website acc, build cms prod, build website prod

Merge develop into main
  cms/config/strapi-config.json
  website/components/Button/Button.style.js
  website/components/Checkbox/Checkbox.jsx
  website/components/Checkbox/Checkbox.style.js
  website/components/Fieldset/Fieldset.jsx
  website/components/Fieldset/Fieldset.style.js
  website/components/MegaMenu/MegaMenu.jsx
  website/components/Pagination/Pagination.jsx
  website/components/Pagination/Pagination.style.js
  website/components/Radio/Radio.jsx
  website/components/Radio/Radio.style.js
  website/components/SearchBar/SearchBar.jsx
  website/components/SearchBar/SearchBar.style.js
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchCard/SearchCard.style.js
  website/components/SearchResults/SearchResults.jsx
  website/components/ThemeSearch/ThemeSearch.jsx
  website/lib/utils.js
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collection.query.gql
  website/pages/index.page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.style.js
  website/pages/thema/[slug].page.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build cms acc, build website acc, build cms prod, build website prod

Log redirects to vragenlijst.amsterdam.nl
  server/user_conf.d/1-website.conf
Due: build server

FE mobile search page
  website/components/Backdrop/Backdrop.jsx
  website/components/Backdrop/Backdrop.style.js
  website/components/SearchFilterSection/SearchFilterSection.jsx
  website/components/SearchFilterSection/SearchFilterSection.style.js
  website/constants/contentTypes.js
  website/pages/dossier/[slug].page.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build website acc, build website prod

Add Piwik tracker
  website/components/Footer/Footer.jsx
  website/components/ThemeSearch/ThemeSearch.jsx
  website/constants/contentLinks.js
  website/pages/_app.page.jsx
  website/pages/zoek/index.page.jsx
  website/public/piwik.js
Due: build website acc, build website prod

Merge develop into main
  server/user_conf.d/1-website.conf
  website/components/Backdrop/Backdrop.jsx
  website/components/Backdrop/Backdrop.style.js
  website/components/Footer/Footer.jsx
  website/components/SearchFilterSection/SearchFilterSection.jsx
  website/components/SearchFilterSection/SearchFilterSection.style.js
  website/components/ThemeSearch/ThemeSearch.jsx
  website/constants/contentLinks.js
  website/constants/contentTypes.js
  website/pages/_app.page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
  website/public/piwik.js
Due: build server, build website acc, build website prod

Process redirects
  website/lib/utils.js
  website/pages/404.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Depend Piwik script url on env
  website/lib/utils.js
  website/pages/_app.page.jsx
Due: build website acc, build website prod

Add alt text info text
  cms/config/strapi-config.json
Due: build cms acc, build cms prod
