Repository Robbert/website-onderzoek-en-statistiek: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server, build cms acc, build website acc, build cms prod, build website prod

build server:
  stage: build
  script:
  - docker build -t $TAG_SERVER_LATEST ./server
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_SERVER_LATEST

build cms acc:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_ACC --build-arg NODE_ENV=development ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_ACC

build website acc:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_ACC --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://acc.cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=development ./website
  ...

build cms prod:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_PROD --build-arg NODE_ENV=production ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_PROD

build website prod:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_PROD --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=production ./website
  ...

Refactor tracking
  website/components/ThemeSearch/ThemeSearch.jsx
  website/lib/analyticsUtils.js
  website/pages/_app.page.jsx
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Add class for tracking
  website/components/Header/Header.jsx
Due: build website acc, build website prod

Update 404 page according to design
  website/components/ListItem/ListItem.jsx
  website/components/ListItem/ListItem.style.js
  website/components/Pagination/Pagination.jsx
  website/components/Pagination/Pagination.style.js
  website/components/SearchResults/SearchResults.jsx
  website/pages/404.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.style.js
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Track navigation and downloads
  website/components/DownloadButton/DownloadButton.jsx
  website/components/Header/Header.jsx
  website/components/MegaMenu/MegaMenu.jsx
  website/components/ThemeList/ThemeList.jsx
  website/lib/analyticsUtils.js
  website/pages/dataset/[slug].page.jsx
  website/pages/index.page.jsx
  website/pages/video/[slug].page.jsx
Due: build website acc, build website prod

Add share buttons
  website/components/ContentFooter/ContentFooter.jsx
  website/components/ContentFooter/ContentFooter.style.js
  website/components/ShareButtons/ShareButtons.jsx
  website/components/ShareButtons/ShareButtons.style.js
  website/components/ThemeList/ThemeList.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/interactief/interactive.query.gql
  website/pages/publicatie/[slug].page.jsx
  website/pages/video/[slug].page.jsx
Due: build website acc, build website prod

Change next fallback behaviour
  website/components/FallbackPage/FallbackPage.jsx
  website/components/FallbackPage/FallbackPage.style.js
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
Due: build website acc, build website prod

Small styling issues
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/components/ContentList/ContentList.jsx
  website/components/ContentList/ContentList.style.js
  website/components/Disclosure/Disclosure.jsx
  website/components/HeroSection/HeroSection.jsx
  website/components/HeroSection/HeroSection.style.js
  website/components/LatestSection/LatestSection.jsx
  website/components/LatestSection/LatestSection.style.js
  website/components/Related/Related.jsx
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchFilterSection/SearchFilterSection.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collection.query.gql
  website/pages/dossier/dossier.style.js
  website/pages/homepage.query.gql
  website/pages/homepage.style.js
  website/pages/index.page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
Due: build website acc, build website prod

Add correct alt text
  cms/config/strapi-config.json
  website/components/Visualisation/Visualisation.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/thema/theme.query.gql
  website/pages/video/video.query.gql
Due: build cms acc, build website acc, build cms prod, build website prod

Remove simple auth
  server/user_conf.d/1-website.conf
Due: build server

Add skip navigation links
  website/components/Footer/Footer.jsx
  website/components/Layout/Layout.jsx
  website/components/Layout/Layout.style.js
Due: build website acc, build website prod

Make home page title dynamic
  website/components/Header/Header.jsx
  website/components/Header/Header.style.js
  website/pages/index.page.jsx
Due: build website acc, build website prod

Revalidate 404 page
  website/pages/404.page.jsx
Due: build website acc, build website prod

Revalidate 404
  website/pages/404.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
Due: build website acc, build website prod

Restyle dataset page
  website/lib/searchUtils.js
  website/lib/typographyUtils.js
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.style.js
Due: build website acc, build website prod

Small (styling) changes
  website/components/Checkbox/Checkbox.style.js
  website/components/MegaMenu/MegaMenu.jsx
  website/components/MegaMenu/MegaMenu.style.js
  website/components/Radio/Radio.style.js
  website/components/Visualisation/Visualisation.style.js
  website/constants/contentTypes.js
  website/next.config.js
  website/pages/index.page.jsx
  website/pages/thema/theme.style.js
Due: build website acc, build website prod

Set different default dimensions for inline images
  website/components/InlineImage/InlineImage.jsx
Due: build website acc, build website prod

Redirect dashboard VI
  website/next.config.js
Due: build website acc, build website prod

Add icons to video and dashboard cards
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/public/icons/dataset.svg
  website/public/icons/interactive.svg
  website/public/icons/video.svg
Due: build website acc, build website prod

Update home page SEO and add sitemap
  website/components/Seo/Seo.jsx
  website/lib/utils.js
  website/pages/sitemap.xml/index.page.jsx
  website/public/default_image.jpg
  website/public/default_image.png
  website/public/robot.txt
Due: build website acc, build website prod

Change agenda field to dynamic zone
  cms/api/homepage/models/homepage.settings.json
  website/pages/artikel/[slug].page.jsx
  website/pages/homepage.query.gql
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
  website/pages/video/video.style.js
Due: build cms acc, build website acc, build cms prod, build website prod

Add updated agenda to frontend
  website/pages/homepage.query.gql
Due: build website acc, build website prod

Finetune menu
  website/components/Button/Button.jsx
  website/components/FlyOutButton/FlyOutButton.style.js
  website/components/Grid/Grid.style.js
  website/components/Header/Header.jsx
  website/components/Header/Header.style.js
  website/components/MegaMenu/MegaMenu.jsx
  website/components/MegaMenu/MegaMenu.style.js
  website/components/Navigation/Navigation.jsx
  website/components/Navigation/Navigation.style.js
  website/components/SearchCard/SearchCard.style.js
  website/components/SearchFilterSection/SearchFilterSection.jsx
  website/components/SearchFilterSection/SearchFilterSection.style.js
  website/components/ThemeSearch/ThemeSearch.style.js
  website/constants/contentTypes.js
  website/lib/typographyUtils.js
  website/next.config.js
  website/pages/404.page.jsx
  website/pages/homepage.query.gql
  website/pages/homepage.style.js
  website/pages/index.page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/zoek/search.style.js
Due: build website acc, build website prod

Check for lowercase slug
  website/components/FallbackPage/FallbackPage.jsx
Due: build website acc, build website prod

Fix alignments
  cms/api/article/models/article.settings.json
  cms/api/collection/models/collection.settings.json
  cms/api/dataset/models/dataset.settings.json
  cms/api/interactive/models/interactive.settings.json
  cms/api/publication/models/publication.settings.json
  cms/api/theme/models/theme.settings.json
  cms/api/video/models/video.settings.json
  website/components/Card/Card.style.js
  website/components/Footer/Footer.jsx
  website/components/Footer/Footer.style.js
  website/components/MegaMenu/MegaMenu.jsx
  website/pages/dossier/dossier.style.js
  website/pages/homepage.style.js
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.style.js
Due: build cms acc, build website acc, build cms prod, build website prod

Update to Next 12
  website/components/MegaMenu/MegaMenu.jsx
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix font urls
  website/public/fonts/fonts.css
Due: build website acc, build website prod

Change aspect ratio and height cards
  cms/api/article/models/article.settings.json
  cms/api/collection/models/collection.settings.json
  cms/api/dataset/models/dataset.settings.json
  cms/api/interactive/models/interactive.settings.json
  cms/api/publication/models/publication.settings.json
  cms/api/video/models/video.settings.json
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/package.json
  website/pages/artikel/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/homepage.style.js
  website/pages/index.page.jsx
  website/pages/thema/[slug].page.jsx
Due: build cms acc, build website acc, build cms prod, build website prod

Always force lower case slug
  website/components/FallbackPage/FallbackPage.jsx
  website/pages/_app.page.jsx
  website/pages/homepage.style.js
Due: build website acc, build website prod

Add small style changes
  website/components/Details/Details.jsx
  website/components/Details/Details.style.js
  website/components/DownloadButton/DownloadButton.jsx
  website/components/Footer/Footer.jsx
  website/components/Footer/Footer.style.js
  website/components/MegaMenu/MegaMenu.jsx
  website/components/MegaMenu/MegaMenu.style.js
  website/components/VideoButtons/VideoButtons.jsx
  website/components/VideoButtons/VideoButtons.style.js
  website/lib/typographyUtils.js
  website/pages/artikel/article.style.js
  website/pages/publicatie/[slug].page.jsx
  website/pages/video/[slug].page.jsx
  website/pages/video/video.style.js
  website/public/icons/dataset.svg
  website/public/icons/interactive.svg
Due: build website acc, build website prod

Remove unecessary summary typography
  website/lib/typographyUtils.js
Due: build website acc, build website prod

Add DownloadButton container, add aria roles
  website/components/DownloadButton/DownloadButton.jsx
  website/components/VideoButtons/VideoButtons.jsx
  website/components/VideoButtons/VideoButtons.style.js
Due: build website acc, build website prod

Compress interactive.svg, add newline at end of file
  website/public/icons/interactive.svg
  website/public/icons/video.svg
Due: build website acc, build website prod

Redirect requests with www prefix
  server/user_conf.d/1-website.conf
Due: build server

Fix missing semicolon
  server/user_conf.d/1-website.conf
Due: build server

Mixed chores
  .gitlab-ci.yml
  cms/lib/datacatalog.js
  server/Dockerfile
  server/config/0-shared.conf
  server/config/1-website.conf
  server/config/2-cms.conf
  website/.eslintrc.js
  website/components/Footer/Footer.jsx
  website/components/ShareButtons/ShareButtons.jsx
  website/jsconfig.json
  website/package.json
  website/pages/404.page.jsx
  website/pages/_app.page.jsx
  website/pages/api/build-search.api.js
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.style.js
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/dossier.style.js
  website/pages/homepage.style.js
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.style.js
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.style.js
  website/pages/video/[slug].page.jsx
  website/pages/video/video.style.js
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
  website/yarn.lock
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Redirect theme onderwijs
  website/next.config.js
Due: build website acc, build website prod

Update strapi
  cms/package.json
  cms/yarn.lock
  website/components/Card/Card.jsx
  website/pages/index.page.jsx
Due: build cms acc, build website acc, build cms prod, build website prod

Remove locale settings from strapi-config
  cms/config/strapi-config.json
Due: build cms acc, build cms prod

Implement prettier, fix ESLint alias issues
  website/.eslintrc.js
  website/.prettierrc
  website/jsconfig.json
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Path conditions:
  build server: any of: server/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms acc: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website acc: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms prod: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website prod: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
