Repository Robbert/website-onderzoek-en-statistiek: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server, build cms acc, build website acc, build cms prod, build website prod

build server:
  stage: build
  script:
  - docker build -t $TAG_SERVER_LATEST ./server
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_SERVER_LATEST

build cms acc:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_ACC --build-arg NODE_ENV=development ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_ACC

build website acc:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_ACC --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://acc.cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=development ./website
  ...

build cms prod:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_PROD --build-arg NODE_ENV=production ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_PROD

build website prod:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_PROD --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=production ./website
  ...

Setup unit tests
  website/.eslintrc.js
  website/components/ContentContainer.jsx
  website/components/Footer.jsx
  website/components/Header/Header.jsx
  website/components/Header/Header.style.js
  website/components/Header/Header.test.jsx
  website/components/HomePage/ThemeSection.jsx
  website/components/Layout.jsx
  website/jest.config.js
  website/jest.setup.js
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Next iteration of search page
  website/components/ContentList.jsx
  website/package.json
  website/pages/_app.page.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
  website/yarn.lock
Due: build website acc, build website prod

Add search API
  .gitlab-ci.yml
  server/user_conf.d/0-shared.conf
  website/next.config.js
  website/pages/api/reindex.api.js
  website/pages/api/search.api.js
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Add next lint config and stylelint
  README.md
  website/.eslintrc.js
  website/.stylelintrc.js
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Improve search api and search page
  cms/api/interactive/models/interactive.settings.json
  website/lib/useDownload.js
  website/lib/useFetch.js
  website/pages/api/reindex.api.js
  website/pages/api/reset.api.js
  website/pages/api/search.api.js
  website/pages/api/searchUtils.js
  website/pages/interactief/[slug].page.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.query.gql
  website/pages/zoek/search.style.js
Due: build cms acc, build website acc, build cms prod, build website prod

Add cors headers to api
  website/next.config.js
Due: build website acc, build website prod

Handle error on cancellation
  website/lib/useFetch.js
Due: build website acc, build website prod

Add fluid type POC
  website/pages/artikel/article.style.js
  website/pages/fluid-type/index.page.jsx
Due: build website acc, build website prod

Revert to client side search
  server/user_conf.d/1-website.conf
  website/components/SearchResults/SearchResults.jsx
  website/lib/useFetch.js
  website/lib/utils.js
  website/next.config.js
  website/package.json
  website/pages/api/reindex.api.js
  website/pages/api/reset.api.js
  website/pages/api/search.api.js
  website/pages/zoek/index.page.jsx
  website/pages/zoek/searchUtils.js
Due: build server, build website acc, build website prod

Add base indentation to stylelint config
  website/.stylelintrc.js
Due: build website acc, build website prod

Upgrade SC to 5.3.1
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Small style fixes caused by SC bug
  website/components/Card/Card.jsx
  website/components/Card/Card.style.js
  website/components/HeroSection/HeroSection.jsx
  website/components/HeroSection/HeroSection.style.js
  website/components/Related/Related.jsx
  website/components/SearchResults/SearchResults.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
  website/pages/video/video.style.js
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build website acc, build website prod

Sync datasets with dcat
  cms/api/dataset/models/dataset.js
  cms/components/shared/resources.json
  cms/lib/datacatalog.js
  cms/package.json
  cms/yarn.lock
  docker-compose.acc.yml
  docker-compose.yml
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.query.gql
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Set DCAT environment variables
  .gitlab-ci.yml
  docker-compose.yml
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Improve image performance
  cms/config/plugins.js
  website/components/Card/Card.jsx
  website/components/MegaMenu/MegaMenu.jsx
  website/next.config.js
  website/package.json
  website/pages/dossier/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/yarn.lock
Due: build cms acc, build website acc, build cms prod, build website prod

Replace index pages with search results
  website/constants/contentLinks.js
  website/next.config.js
  website/pages/artikel/articleList.query.gql
  website/pages/artikel/index.page.jsx
  website/pages/dataset/datasetList.query.gql
  website/pages/dataset/index.page.jsx
  website/pages/dossier/collectionList.query.gql
  website/pages/dossier/index.page.jsx
  website/pages/interactief/index.page.jsx
  website/pages/interactief/interactiveList.query.gql
  website/pages/publicatie/index.page.jsx
  website/pages/publicatie/publicationList.query.gql
  website/pages/thema/index.page.jsx
  website/pages/thema/themeList.query.gql
  website/pages/video/index.page.jsx
  website/pages/video/videoList.query.gql
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Implement restyled footer
  website/components/Footer/Footer.jsx
  website/components/Footer/Footer.style.js
Due: build website acc, build website prod

Add pagination
  website/components/Pagination/Pagination.jsx
  website/components/Pagination/Pagination.style.js
  website/components/Pagination/Pagination.test.jsx
  website/components/SearchResults/SearchResults.jsx
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Add new Heading and Paragraph components
  website/.eslintrc.js
  website/components/Heading/Heading.jsx
  website/components/Heading/Heading.style.js
  website/components/Paragraph/Paragraph.jsx
  website/components/Paragraph/Paragraph.style.js
  website/lib/typographyUtils.js
  website/pages/fluid-type/index.page.jsx
Due: build website acc, build website prod

Add new fonts and override theme
  website/components/Heading/Heading.style.js
  website/components/Paragraph/Paragraph.style.js
  website/pages/_app.page.jsx
  website/pages/_document.page.jsx
  website/public/fonts/AvenirAll/12d643f2-3899-49d5-a85b-ff430f5fad15.eot
  website/public/fonts/AvenirAll/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf
  website/public/fonts/AvenirAll/1a7c9181-cd24-4943-a9d9-d033189524e0.eot
  website/public/fonts/AvenirAll/1e9892c0-6927-4412-9874-1b82801ba47a.woff
  website/public/fonts/AvenirAll/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2
  website/public/fonts/AvenirAll/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf
  website/public/fonts/AvenirAll/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2
  website/public/fonts/AvenirAll/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf
  website/public/fonts/AvenirAll/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2
  website/public/fonts/AvenirAll/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff
  website/public/fonts/AvenirAll/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff
  website/public/fonts/AvenirAll/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf
  website/public/fonts/AvenirAll/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2
  website/public/fonts/AvenirAll/d1fddef1-d940-4904-8f6c-17e809462301.eot
  website/public/fonts/AvenirAll/e9167238-3b3f-4813-a04a-a384394eed42.eot
  website/public/fonts/AvenirAll/f26faddb-86cc-4477-a253-1e1287684336.woff
  website/public/fonts/Fonts/0047ae74-7a07-485d-b6af-12c38e7845e5.woff2
  website/public/fonts/Fonts/0b62af68-a30c-42f3-b955-e65cdc6eb400.woff
  website/public/fonts/Fonts/0df04b85-219c-4fe0-9736-12c04931d434.woff
  website/public/fonts/Fonts/0f3243d5-9104-45fb-aa69-48a50732fc11.woff2
  website/public/fonts/Fonts/2ca5da19-7411-4b22-9b67-9095858f1bc0.woff
  website/public/fonts/Fonts/3519cb0f-02a0-41b8-b6d5-5e404cb57afb.woff2
  website/public/fonts/Fonts/550a1ae7-eb23-492c-bcf6-536c114660d3.woff2
  website/public/fonts/Fonts/5685877c-e1fa-4c72-829c-2a8e19c11d06.woff2
  website/public/fonts/Fonts/585a7684-d92c-459a-9111-82ebf54d6cca.woff
  website/public/fonts/Fonts/6313d5bd-7fe9-48e0-aa23-56a9b46495d3.woff2
  website/public/fonts/Fonts/77cc83cb-2e3b-4ad7-84db-f2b65fdf87a1.woff2
  website/public/fonts/Fonts/7cc17fdb-3606-4f7d-bad6-66ecb244f388.woff
  website/public/fonts/Fonts/af937d9c-6c85-47e9-b67d-42c50d442a19.woff
  website/public/fonts/Fonts/b5c7efb8-0318-48d1-9f59-5e509587930f.woff
  website/public/fonts/Fonts/cfd7fc4b-6b4c-4276-91b4-f39ef7809e68.woff
  website/public/fonts/Fonts/d1d43d8e-e792-4a3d-aebe-2afeafdffbee.woff2
  website/public/fonts/fonts.css
  website/public/fonts/mtiFontTrackingCode.min.js
Due: build website acc, build website prod

Add search to theme page
  .gitlab-ci.yml
  README.md
  website/.gitignore
  website/components/Pagination/Pagination.jsx
  website/components/Pagination/Pagination.style.js
  website/components/SearchBar/SearchBar.jsx
  website/components/SearchBar/SearchBar.style.js
  website/components/SearchResults/SearchResults.jsx
  website/components/SearchResults/SearchResults.style.js
  website/components/ThemeSearch/ThemeSearch.jsx
  website/components/ThemeSearch/ThemeSearch.style.js
  website/lib/searchUtils.js
  website/next.config.js
  website/package.json
  website/pages/_app.page.jsx
  website/pages/api/build-search.api.js
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Change owner of /public
  website/Dockerfile
Due: build website acc, build website prod

Implement Grid system
  README.md
  website/components/Grid/Grid.style.js
  website/components/Grid/README.md
  website/lib/typographyUtils.js
  website/public/fonts/fonts.css
Due: build website acc, build website prod

Serve static search content
  .gitlab-ci.yml
  docker-compose.acc.yml
  docker-compose.server.yml
  docker-compose.yml
  server/user_conf.d/1-website.conf
  website/pages/_app.page.jsx
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Create cms components for lists
  cms/api/dataset/models/dataset.settings.json
  cms/api/homepage/models/homepage.settings.json
  cms/api/theme/models/theme.settings.json
  cms/components/shared/datasets.json
  cms/components/shared/interactives.json
  website/lib/utils.js
  website/pages/homepage.query.gql
  website/pages/index.page.jsx
Due: build cms acc, build website acc, build cms prod, build website prod

Fix cms build problems
  cms/Dockerfile
  cms/api/dataset/models/dataset.settings.json
Due: build cms acc, build cms prod

Add cms model changes for article
  cms/api/article/models/article.settings.json
Due: build cms acc, build cms prod

Add cms model FE changes for article
  website/components/Related/Related.jsx
  website/lib/utils.js
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
Due: build website acc, build website prod

Update Strapi model home page
  cms/api/homepage/models/homepage.settings.json
  cms/components/shared/links.json
Due: build cms acc, build cms prod

Adapt home page FE to new model
  website/lib/utils.js
  website/pages/homepage.query.gql
  website/pages/index.page.jsx
Due: build website acc, build website prod

Update Strapi model to current design: dossier - CMS
  cms/api/collection/models/collection.settings.json
  cms/api/dataset/models/dataset.settings.json
Due: build cms acc, build cms prod

Update Strapi model to current design: dossier - FE
  website/components/ContentList/ContentList.jsx
  website/components/ContentList/ContentList.style.js
  website/components/ListSection/ListSection.jsx
  website/components/ListSection/ListSection.style.js
  website/pages/artikel/article.query.gql
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collection.query.gql
  website/pages/homepage.query.gql
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
Due: build website acc, build website prod

Update Strapi model for publication
  cms/api/publication/models/publication.settings.json
Due: build cms acc, build cms prod

Update Strapi model for publications - FE
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/publicatie/publication.style.js
Due: build website acc, build website prod

Update Strapi model to current design: video - CMS
  cms/api/homepage/models/homepage.settings.json
  cms/api/publication/models/publication.settings.json
  cms/api/video/models/video.settings.json
Due: build cms acc, build cms prod

Update Strapi model to current design: video - FE
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
Due: build website acc, build website prod

Update Strapi model to current design: theme - CMS
  cms/api/theme/models/theme.settings.json
  cms/components/shared/combi-picture.json
  cms/components/shared/visualisation.json
Due: build cms acc, build cms prod

Update Strapi model to current design: theme - FE
  website/components/ThemeSearch/ThemeSearch.jsx
  website/components/ThemeSearch/ThemeSearch.style.js
  website/lib/utils.js
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/thema/theme.style.js
Due: build website acc, build website prod

Path conditions:
  build server: any of: server/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms acc: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website acc: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms prod: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website prod: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
