Repository Robbert/website-onderzoek-en-statistiek: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server, build cms acc, build website acc, build cms prod, build website prod

build server:
  stage: build
  script:
  - docker build -t $TAG_SERVER_LATEST ./server
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_SERVER_LATEST

build cms acc:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_ACC --build-arg NODE_ENV=development ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_ACC

build website acc:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_ACC --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://acc.cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=development ./website
  ...

build cms prod:
  stage: build
  script:
  - docker build -t $TAG_CMS_LATEST_PROD --build-arg NODE_ENV=production ./cms
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_CMS_LATEST_PROD

build website prod:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST_PROD --build-arg NEXT_PUBLIC_STRAPI_API_URL=https://cms.onderzoek-en-statistiek.nl --build-arg NODE_ENV=production ./website
  ...

Remove stylelint exceptions
  website/components/Grid/Grid.style.js
  website/components/Paragraph/Paragraph.style.js
  website/components/SearchCard/SearchCard.style.js
  website/components/ThemeSearch/ThemeSearch.style.js
  website/lib/typographyUtils.js
  website/pages/thema/theme.style.js
Due: build website acc, build website prod

Fix issue with jsconfig TS error
  website/jsconfig.json
Due: build website acc, build website prod

Fix lint issues
  website/components/Button/Button.jsx
  website/components/FlyOutButton/FlyOutButton.jsx
  website/lib/useFocusWithArrows.test.jsx
  website/pages/interactief/[slug].page.jsx
Due: build website acc, build website prod

Add interactive visualisations to CMS
  cms/components/shared/visualisation.json
  website/components/BodyContent/BodyContent.jsx
  website/components/DownloadButton/DownloadButton.jsx
  website/components/Visualisation/Visualisation.jsx
  website/components/Visualisation/Visualisation.style.js
  website/lib/utils.js
  website/package.json
  website/pages/artikel/article.query.gql
  website/pages/publicatie/publication.query.gql
  website/pages/video/video.query.gql
  website/yarn.lock
Due: build cms acc, build website acc, build cms prod, build website prod

Implement interactive visualisations on theme page
  website/components/Visualisation/Visualisation.jsx
  website/components/Visualisation/Visualisation.style.js
  website/constants/contentLinks.js
  website/constants/visualisationConfig.js
  website/lib/utils.js
  website/pages/thema/[slug].page.jsx
  website/pages/thema/theme.query.gql
  website/pages/thema/theme.style.js
Due: build website acc, build website prod

Update html2canvas to fix wrong offset in png
  website/components/Visualisation/Visualisation.jsx
  website/components/Visualisation/image-exporter.js
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix search input special characters bug
  website/lib/utils.js
  website/next.config.js
  website/pages/_app.page.jsx
  website/pages/zoek/index.page.jsx
Due: build website acc, build website prod

Fix bug with cursor position in SearchBar
  website/components/SearchBar/SearchBar.jsx
  website/pages/zoek/index.page.jsx
  website/pages/zoek/search.style.js
Due: build website acc, build website prod

Restyle visualisation footer
  website/components/BodyContent/BodyContent.jsx
  website/components/BodyContent/BodyContent.style.js
  website/components/Button/Button.style.js
  website/components/Visualisation/Visualisation.jsx
  website/components/Visualisation/Visualisation.style.js
  website/constants/visualisationConfig.js
  website/lib/utils.js
  website/pages/thema/theme.style.js
Due: build website acc, build website prod

Update server redirects
  server/config/1-website.conf
  server/config/2-cms.conf
Due: build server

Add redirect to GitLab pages
  server/config/1-website.conf
Due: build server

Allow more fuzziness in search algo
  website/lib/searchUtils.js
Due: build website acc, build website prod

Turn on autofocus for search bar
  website/components/FlyOutButton/FlyOutButton.style.js
  website/components/SearchBar/SearchBar.jsx
  website/components/SearchBar/SearchBar.style.js
Due: build website acc, build website prod

Remove autofocus for smaller screens
  website/components/SearchBar/SearchBar.jsx
Due: build website acc, build website prod

Add dependabot.yml
  .gitlab/dependabot.yml
Due: none

Restyle link list
  website/components/BodyContent/BodyContent.jsx
  website/components/BodyContent/BodyContent.style.js
Due: build website acc, build website prod

Update dependencies
  website/components/SearchBar/SearchBar.jsx
  website/package.json
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build website acc, build website prod

Reorganise dependencies
  website/.babelrc
  website/.swcrc
  website/components/Button/Button.style.js
  website/components/Header/Header.test.jsx
  website/jest.config.js
  website/lib/apolloClient.js
  website/lib/utils.js
  website/next.config.js
  website/package.json
  website/pages/_app.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build website acc, build website prod

Update yarn.lock
  website/yarn.lock
Due: build website acc, build website prod

Update pseudo-elements and -classes
  website/components/Blockquote/Blockquote.style.js
  website/components/FlyOutButton/FlyOutButton.style.js
  website/pages/publicatie/publication.style.js
  website/pages/video/video.style.js
Due: build website acc, build website prod

Bump react-is from 16.13.1 to 17.0.2 in /website
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Bump typescript from 3.9.10 to 4.5.5 in /website
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Bump @types/react from 16.14.22 to 17.0.39 in /website
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Bump @swc/core from 1.2.135 to 1.2.136 in /website
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update deps
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Fix eslint issues
  website/.eslintrc.js
  website/components/SearchCard/SearchCard.jsx
  website/components/SearchResults/SearchResults.jsx
  website/lib/useFocusWithArrows.js
  website/pages/_document.page.jsx
Due: build website acc, build website prod

Add slugify
  website/components/Visualisation/Visualisation.jsx
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update all Yarn dependencies (2022-02-07)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Integrate testing in pipeline(s)
  .gitlab-ci.yml
  website/package.json
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Integrate testing in pipeline(s)
  .gitlab-ci.yml
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Integrate testing in pipeline(s)
  website/lib/useFocusWithArrows.test.jsx
Due: build website acc, build website prod

Fix cicd
  .gitlab-ci.yml
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Fix publication date format
  cms/lib/datacatalog.js
  website/lib/utils.js
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
Due: build cms acc, build website acc, build cms prod, build website prod

Temp redirect
  server/config/1-website.conf
Due: build server

Remove temp redirect
  server/config/1-website.conf
Due: build server

Update all Yarn dependencies (2022-02-14)
  website/package.json
  website/yarn.lock
Due: build website acc, build website prod

Update gitlab-ci
  .gitlab-ci.yml
  cms/.gitlab-ci.yml
  server/.gitlab-ci.yml
  website/.gitlab-ci.yml
Due: build server, build cms acc, build website acc, build cms prod, build website prod

Remove dependabot
  .gitlab/dependabot.yml
Due: none

Update CI
  website/.gitlab-ci.yml
Due: build website acc, build website prod

Gitlab ci
  cms/.gitlab-ci.yml
  website/.gitlab-ci.yml
Due: build cms acc, build website acc, build cms prod, build website prod

Path conditions:
  build server: any of: server/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms acc: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website acc: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms prod: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website prod: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
