Repository Robbert/website-onderzoek-en-statistiek: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build server, build cms, build website

build server:
  stage: build
  script:
  - docker build -t $TAG_SERVER_LATEST -t $TAG_SERVER_COMMIT ./server
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_SERVER_LATEST
  - docker push $TAG_SERVER_COMMIT

build cms:
  stage: build
  script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build -t $TAG_CMS_LATEST -t $TAG_CMS_COMMIT ./cms
  - docker push $TAG_CMS_LATEST
  - docker push $TAG_CMS_COMMIT

build website:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker info
  script:
  - docker build -t $TAG_WEBSITE_LATEST -t $TAG_WEBSITE_COMMIT ./website
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_WEBSITE_LATEST
  - docker push $TAG_WEBSITE_COMMIT

Add proxy to telemos
  server/user_conf.d/server.conf
Due: build server

Add search page
  website/components/Nav.jsx
  website/package.json
  website/pages/_app.page.jsx
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build website

Add dataset content type
  cms/api/article/models/article.js
  cms/api/dataset/config/routes.json
  cms/api/dataset/controllers/dataset.js
  cms/api/dataset/models/dataset.js
  cms/api/dataset/models/dataset.settings.json
  cms/api/dataset/services/dataset.js
  cms/api/publication/models/publication.js
  cms/api/theme/models/theme.settings.json
  cms/api/video/models/video.js
  cms/components/shared/resources.json
  cms/config/functions/bootstrap.js
  cms/data/articles.json
  cms/data/data.json
  cms/data/interactives.json
  cms/lib/utils.js
  cms/package.json
  cms/yarn.lock
  website/components/Nav.jsx
  website/lib/utils.js
  website/pages/_app.page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.style.js
  website/pages/dataset/index.page.jsx
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build cms, build website

Configure production environment
  .gitlab-ci.yml
  cms/Dockerfile
  docker-compose.acc.yml
  docker-compose.server.yml
  server/index.html
  server/user_conf.d/server.conf
  website/Dockerfile
  website/lib/utils.js
  website/package.json
  website/pages/dataset/index.page.jsx
Due: build server, build cms, build website

Configure eslint for cms
  README.md
  cms/.eslintrc
  cms/.eslintrc.js
  cms/package.json
  cms/yarn.lock
  package.json
  website/package.json
  website/yarn.lock
Due: build cms, build website

Add footer, restyle header and main container
  website/.eslintrc.js
  website/assets/css/style.css
  website/components/Footer.jsx
  website/components/Header.jsx
  website/components/Layout.jsx
  website/package.json
  website/pages/_app.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/index.page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/index.page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/index.page.jsx
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/interactief/index.page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/index.page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/thema/index.page.jsx
  website/pages/video/[slug].page.jsx
  website/pages/video/index.page.jsx
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build website

Import CMS settings, optimise SSR
  cms/config/strapi-config.json
  cms/package.json
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/index.page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/index.page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
Due: build cms, build website

Optimise inline images
  website/components/InlineImage.jsx
  website/next.config.js
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.module.css
  website/pages/artikel/article.style.js
  website/pages/artikel/index.page.jsx
  website/pages/dataset/index.page.jsx
Due: build website

Add menu
  website/assets/css/style.css
  website/components/Header.jsx
  website/components/Nav.jsx
  website/pages/_app.page.jsx
  website/pages/artikel/article.style.js
Due: build website

Update Strapi and Next
  cms/config/functions/bootstrap.js
  cms/package.json
  cms/yarn.lock
  docker-compose.server.yml
  website/components/InlineImage.jsx
  website/lib/utils.js
  website/package.json
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/index.page.jsx
  website/pages/zoek/index.page.jsx
  website/yarn.lock
Due: build cms, build website

Generate PDF from publication page
  .gitlab-ci.yml
  website/components/PDF.jsx
  website/package.json
  website/pages/_app.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.style.js
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.style.js
  website/yarn.lock
Due: build server, build cms, build website

Remove content type Global
  .gitlab-ci.yml
  cms/Dockerfile
  cms/api/global/config/routes.json
  cms/api/global/controllers/global.js
  cms/api/global/models/global.js
  cms/api/global/models/global.settings.json
  cms/api/global/services/global.js
  cms/config/functions/bootstrap.js
  cms/data/data.json
  website/.gitignore
  website/Dockerfile
  website/components/InlineImage.jsx
  website/components/PdfDocument.jsx
  website/components/Seo.jsx
  website/lib/utils.js
  website/package.json
  website/pages/_app.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/video/[slug].page.jsx
  website/public/default_image.png
Due: build server, build cms, build website

Add domains
  server/user_conf.d/server.conf
Due: build server

Add provisional styling of homepage
  cms/api/homepage/models/homepage.settings.json
  cms/components/sections/hero.json
  cms/data/data.json
  website/components/ContentContainer.jsx
  website/components/Footer.jsx
  website/components/HomePage/CollectionCard.jsx
  website/components/HomePage/CollectionSection.jsx
  website/components/HomePage/FeatureCard.jsx
  website/components/HomePage/FeatureSection.jsx
  website/components/HomePage/HeroSection.jsx
  website/components/HomePage/ThemeCard.jsx
  website/components/HomePage/ThemeSection.jsx
  website/components/Layout.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/index.page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/index.page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/index.page.jsx
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/interactief/index.page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/index.page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/thema/index.page.jsx
  website/pages/video/[slug].page.jsx
  website/pages/video/index.page.jsx
  website/pages/zoek/index.page.jsx
Due: build cms, build website

Fix build
  website/components/HomePage/CollectionCard.jsx
  website/components/HomePage/CollectionSection.jsx
  website/components/HomePage/ThemeSection.jsx
  website/pages/interactief/[slug].page.jsx
Due: build website

Add provisional styling to theme page
  website/components/HomePage/FeatureCard.jsx
  website/components/HomePage/HeroSection.jsx
  website/components/HomePage/ThemeCard.jsx
  website/components/ThemePage/HeroSection.jsx
  website/components/ThemePage/LatestCard.jsx
  website/components/ThemePage/LatestSection.jsx
  website/lib/utils.js
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/index.page.jsx
  website/pages/thema/[slug].page.jsx
Due: build website

Bugfix
  website/.babelrc
Due: build website

Revert "Bugfix"
  website/.babelrc
Due: build website

Add provisional styling to collection page
  website/components/CollectionPage/FeatureCard.jsx
  website/components/CollectionPage/FeatureSection.jsx
  website/components/CollectionPage/HeroSection.jsx
  website/components/CollectionPage/ListCard.jsx
  website/components/CollectionPage/ListSection.jsx
  website/components/HomePage/CollectionCard.jsx
  website/components/HomePage/CollectionSection.jsx
  website/components/HomePage/ThemeSection.jsx
  website/components/ThemePage/LatestCard.jsx
  website/components/ThemePage/LatestSection.jsx
  website/next.config.js
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collectionQuery.gql
  website/pages/homepageQuery.gql
  website/pages/index.page.jsx
  website/pages/thema/[slug].page.jsx
  website/pages/thema/themeQuery.gql
Due: build website

Collection cover
  website/components/CollectionPage/HeroSection.jsx
  website/pages/dossier/[slug].page.jsx
Due: build website

Optimise data fetching
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
  website/pages/artikel/articleList.query.gql
  website/pages/artikel/index.page.jsx
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/dataset.query.gql
  website/pages/dataset/datasetList.query.gql
  website/pages/dataset/index.page.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/dossier/collection.query.gql
  website/pages/dossier/collectionList.query.gql
  website/pages/dossier/index.page.jsx
  website/pages/homepage.query.gql
  website/pages/index.page.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/interactief/index.page.jsx
  website/pages/interactief/interactive.query.gql
  website/pages/interactief/interactiveList.query.gql
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/index.page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/publicatie/publicationList.query.gql
  website/pages/thema/[slug].page.jsx
  website/pages/thema/index.page.jsx
  website/pages/thema/theme.query.gql
  website/pages/thema/themeList.query.gql
  website/pages/video/[slug].page.jsx
  website/pages/video/index.page.jsx
  website/pages/video/video.query.gql
  website/pages/video/videoList.query.gql
Due: build website

Provisional styling publication page
  cms/api/publication/models/publication.settings.json
  website/components/PublicationPage/Sidebar.jsx
  website/lib/useDownload.jsx
  website/lib/utils.js
  website/package.json
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.query.gql
  website/pages/publicatie/publication.style.js
  website/yarn.lock
Due: build cms, build website

Temporarily remove new fields from graphql query
  website/pages/publicatie/publication.query.gql
Due: build website

Add new variables to graphql query
  website/pages/publicatie/publication.query.gql
Due: build website

Style article page
  website/components/ArticlePage/Sidebar.jsx
  website/components/InlineImage.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.query.gql
  website/pages/artikel/article.style.js
  website/pages/publicatie/[slug].page.jsx
Due: build website

Add babel styled components plugin
  website/.babelrc
  website/package.json
  website/yarn.lock
Due: build website

Disable graphQL caching
  website/lib/utils.js
Due: build website

Refactor Homepage
  cms/api/homepage/models/homepage.settings.json
  cms/components/shared/features.json
  website/components/Card.jsx
  website/components/ContentContainer.jsx
  website/components/Header.jsx
  website/components/HeroSection.jsx
  website/components/HomePage/CollectionCard.jsx
  website/components/HomePage/CollectionSection.jsx
  website/components/HomePage/FeatureCard.jsx
  website/components/HomePage/FeatureSection.jsx
  website/components/HomePage/ThemeSection.jsx
  website/components/Nav.jsx
  website/lib/utils.js
  website/pages/homepage.query.gql
  website/pages/index.page.jsx
Due: build cms, build website

Add redirect to SPSSMR
  server/user_conf.d/server.conf
Due: build server

Improve performance
  README.md
  package.json
  server/user_conf.d/server.conf
  website/components/Card.jsx
  website/components/HeroSection.jsx
  website/next.config.js
  website/package.json
  website/pages/publicatie/[slug].page.jsx
  website/yarn.lock
Due: build server, build website

Upgrade NextJS, add sharp image optimiser
  website/package.json
  website/yarn.lock
Due: build website

Refactor composition and styles
  website/components/Card.jsx
  website/components/CollectionPage/FeatureCard.jsx
  website/components/CollectionPage/FeatureSection.jsx
  website/components/CollectionPage/HeroSection.jsx
  website/components/CollectionPage/ListCard.jsx
  website/components/CollectionPage/ListSection.jsx
  website/components/HeroSection.jsx
  website/components/HomePage/CollectionSection.jsx
  website/components/HomePage/FeatureSection.jsx
  website/components/HomePage/ThemeSection.jsx
  website/components/Link.jsx
  website/components/LinkList.jsx
  website/components/ThemePage/HeroSection.jsx
  website/components/ThemePage/LatestCard.jsx
  website/components/ThemePage/LatestSection.jsx
  website/package.json
  website/pages/dossier/[slug].page.jsx
  website/pages/index.page.jsx
  website/pages/thema/[slug].page.jsx
Due: build website

Fix style problem in HeroSection
  website/components/HeroSection.jsx
  website/pages/dossier/[slug].page.jsx
  website/pages/thema/[slug].page.jsx
Due: build website

Provisional styling index pages
  website/components/Card.jsx
  website/components/CollectionPage/FeatureSection.jsx
  website/components/ContentList.jsx
  website/components/HomePage/CollectionSection.jsx
  website/components/HomePage/FeatureSection.jsx
  website/components/HomePage/ThemeSection.jsx
  website/pages/artikel/articleList.query.gql
  website/pages/artikel/index.page.jsx
  website/pages/dataset/dataset.style.js
  website/pages/dataset/index.page.jsx
  website/pages/dossier/collectionList.query.gql
  website/pages/dossier/index.page.jsx
  website/pages/interactief/index.page.jsx
  website/pages/interactief/interactiveList.query.gql
  website/pages/publicatie/index.page.jsx
  website/pages/publicatie/publicationList.query.gql
  website/pages/thema/index.page.jsx
  website/pages/video/index.page.jsx
  website/pages/video/videoList.query.gql
  website/pages/zoek/index.page.jsx
Due: build website

Fix index page links
  website/components/ContentList.jsx
Due: build website

Add different implementations for interactives
  cms/api/interactive/models/interactive.settings.json
  website/components/IFrame.jsx
  website/pages/interactief/[slug].page.jsx
  website/pages/interactief/interactive.query.gql
  website/pages/interactief/interactiveList.query.gql
Due: build cms, build website

Split nginx conf files
  server/user_conf.d/0-shared.conf
  server/user_conf.d/1-website.conf
  server/user_conf.d/2-cms.conf
Due: build server

Provisional styling video page
  website/components/ArticlePage/Sidebar.jsx
  website/components/ContentList.jsx
  website/components/DownloadButton.jsx
  website/components/Nav.jsx
  website/components/PublicationPage/Sidebar.jsx
  website/components/Related.jsx
  website/lib/utils.js
  website/next.config.js
  website/package.json
  website/pages/_app.page.jsx
  website/pages/artikel/[slug].page.jsx
  website/pages/artikel/article.style.js
  website/pages/dataset/[slug].page.jsx
  website/pages/dataset/datasetList.query.gql
  website/pages/dataset/index.page.jsx
  website/pages/publicatie/[slug].page.jsx
  website/pages/publicatie/publication.style.js
  website/pages/publicatie/publicationList.query.gql
  website/pages/video/[slug].page.jsx
  website/pages/video/video.query.gql
  website/pages/video/video.style.js
  website/yarn.lock
Due: build website

Refactor localization
  website/next.config.js
Due: build website

Path conditions:
  build server: any of: server/**/*, .gitlab-ci.yml, docker-compose.yml
  build cms: any of: cms/**/*, .gitlab-ci.yml, docker-compose.yml
  build website: any of: website/**/*, .gitlab-ci.yml, docker-compose.yml
